*{
 box-sizing: border-box; 
 margin: 0;
    padding: 0;  
}
body{
    background-color: #85586F;
}
.menu{
    font-family: 'Courier New', Courier, monospace;
    text-align: center; 
    color: black;
    padding-bottom: 1rem;
   padding-top: 1rem;
   font-weight: bold; 
}

h1{   
   font-family: 'Courier New', Courier, monospace;
   text-align: center; 
   color: brown;
   padding-bottom: 1rem;
  padding-top: 1rem;
  font-weight: bold;
} 

.box {
    font-family: "Comic Sans MS", cursive, sans-serif;
    line-height: 1.5;
   border: 5px solid white; 
padding:0 15px;
margin-bottom: 10px;
background-color: bisque;
transition: 0.3s ease;
}
.box:hover{
    transform: scale(1.1);

}
.nav-link{
    text-align: center;
    color: white;
 
}
a:hover{
    background-color: white;
}
.navbar-toggler{
    border-color: white;
}
